img {
    max-width: 100%;
    max-height: 100%;
}

body{
  background-color: aliceblue;
}

h1{
  text-align: center;
}

h2{
  text-align: center;
}

#game{
  border:2px solid black;
}

#gameWrapper{
  position: relative;
  margin: 0 auto;
  width: 1250px;
  height: 800px;
}

#stats{
  position: absolute;
  background-color:none;
  top: 0px;
  right: 50px;
  border:2px solid black;
  width: 300px;
  height: 350px;
}

#topbar{
  height:30px;
  width: inherit;
  background-color:black;
}

#frameAdvanceButton{
  width:75px;
  height:75px;
  display:inline-block;
  float:right;
}

#pauseGoButton{
  width:75px;
  height:75px;
  display:inline-block;
  float:left;
}


#pauseGoButton:hover{
  background-color:rgba(0,0,0,0.05);
}

#goImg{
  display:none;
}


#toolbar{
  height:75px;
  width: 150px;
  bottom: -25px;
  position: relative;
  margin:0 auto;
}

.subStats{
  margin-left:10px;
}
