img {
    max-width: 100%;
    max-height: 100%;
}

body{
  background-color: aliceblue;
}

h1{
  text-align: center;
}

h2{
  text-align: center;
}

#game{
  border:2px solid black;
}

#gameWrapper{
  position: relative;
  background-color: none;
  margin: 0 auto;
  width: 1250px;
  height: 800px;
}

#stats{
  position: absolute;
  background-color:none;
  top: 0px;
  right: 0px;
  border:2px solid black;
  width: 400px;
  height: 600px;
}

#pauseGoButton{
  width:100px;
  height:100px;
  margin: 0 auto;
}

#pauseGoButton:hover{
  background-color:rgba(0,0,0,0.05);
}

#pauseImg{
  display:none;
}


#toolbar{
  height:100px;
  width: inherit;
  position: absolute;
  bottom: 10px;
}
