
body, html{
  font-family:sans-serif;
  margin: 0px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

h1{
  text-align: center;
}

h2{
  text-align: center;
  font-size: 24px;
}
h3{
  font-size: 15px;
  margin-bottom: 2px;
}

#title{
  top: 0px;
  background-color: rgba(183, 187, 196,0.3);
  color: #101010;
  position: relative;
  width:100%;
  margin: 0 auto;
  z-index:1;
  letter-spacing:3px;
  height: 60px;
  line-height: 60px;
}

#game{
  border: 2px solid black;
  width: 100%;
  height: 100%;
}

#gameWrapper{
  position: fixed;
  background-color: black;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#stats{
  position: absolute;
  background-image: linear-gradient(to right, rgba(255,255,255,1), rgba(127, 127, 127,1));
  top: 70px;
  right: 50px;
  border:2px solid black;
  width: 150px;
  box-shadow: 10px 10px 5px rgba(0,0,0,0.1) ;
  border-top: 20px solid black;
  border-radius: 20px;
  padding: 8px;
}

#frameAdvanceButton{
  border-radius: 20px;
  float:left;
  width:40px;
  height:40px;
  margin: 5px;
}

#pauseGoButton{
  border-radius: 20px;
  float:left;
  width:40px;
  height:40px;
  margin: 5px;
}

#resetDefault{
  background-color:rgba(255,255,255,0.5);
  box-shadow: 0px;
  margin-top:10px;
  border-radius: 20px;
  padding: 10px;
}

#restartButton{
  border-radius: 20px;
  float:left;
  width:40px;
  height:40px;
  margin: 5px;
}

#pauseImg{
  display:none;
}

#colorChange{
  display: inline-block;
  width: 40%;
  margin-bottom:20px;
}

#colorChange_Background{
  display: inline-block;
  width: 40%;
}

.button{
  border: none;
  box-shadow: 0px 6px rgba(0,0,0,0.4);
  cursor:pointer;
}

.button:hover{
  background-color:rgba(0,0,0,0.1);
}

.button:active{
  transform: translateY(4px);
  box-shadow: 0px 2px rgba(0,0,0,0.4);
}

.slider{
  width: 140px;
}

p{
  font-size: 14px;
  display: inline-block;
}

#toolbar{
  position: relative;
  min-height: 50px;
  background-color: none;
}

#readMoreSettings{
  display:none;
  bottom: 0px;
  height: 165px;
  position: relative;
  width: inherit;
  text-align: right;
}

.readMoreCheckbox{
  display:none;
}

.readMoreCheckbox:checked ~ #readMoreSettings .showtarget {
  pointer-events: auto;
  opacity: 1;
  max-height: 999em;
}

.readMoreCheckbox:checked ~ #readMoreSettings{
  display:block;
}


.readMoreCheckbox ~ .readMoreLabel:before{
  content:"+ Advanced Settings";
}

.readMoreCheckbox:checked ~ .readMoreLabel:before {
  content: '- Advanced Settings';
}

.showtarget{
  pointer-events: none;
  opacity: 0;
}

.readMoreLabel{
  display:inline-block;
  width:100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  border: 1px solid rgba(0,0,0,0.1);
}
